/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Immagini sempre responsive */
img {
  max-width: 100%;
}

/* Font generale */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Rimuovo i puntini dalle liste nel menu */
header ul {
  list-style: none;
}

/* Link senza sottolineatura, colore ereditato */
header a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

/* =======================
   CONTAINER
   ======================= */
.container-small {
  max-width: 900px;
  margin: 0 auto;

  /* debug temporaneo */
  min-height: 400px;
  background-color: rgb(0, 255, 145);
}

.container-large {
  max-width: 1000px;
  margin: 0 auto;

  /* debug temporaneo */
  min-height: 600px;
  background-color: blue;
}

.container-header {
  height: 100%;
}

/* =======================
   UTILITIES
   ======================= */
/* Flexbox */
.flex {
  display: flex;
}
.jc-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.gap {
  gap: 40px;
}

/* Padding utili */
.pd-10 {
  padding: 10px;
}
.pd-90 {
  padding: 90px;
}
.pd-top-90 {
  padding-top: 90px;
}

/* Margini utili */
.mg-top-30 {
  margin-top: 30px;
}

/* Colori di debug */
.bg-acqua {
  background-color: rgba(0, 255, 204, 0.439);
}
.bg-orange {
  background-color: orange;
}

/* =======================
   HEADER
   ======================= */
header {
  width: 100%;
  height: 80px;

  /* debug temporaneo */
  background-color: rgba(0, 255, 102, 0.3);
}

/* =======================
   MAIN SECTIONS
   ======================= */

/* HERO section */
.title-hero {
 /* debug */
  min-height: 150px;
  background-color: beige;
}

.description-hero {
  width: 40%;
  /* debug */
  min-height: 500px;
  background-color: blue;
}

.img-hero {
  width: 60%;
  /* debug */
  background-color: rgb(0, 255, 55);
}

/* SUBSCRIPTION section */
.title-subscriotion {
  /* debug */
  min-height: 150px;
  background-color: black;
}

.col-business {
  width: 30%;
  /* debug */
  min-height: 400px;
  background-color: red;
}

.enterprise {
  /* debug */
  min-height: 300px;
  background-color: black; 
}

/* PARTNER section */
.img-partner {
  width: 50%;
  /* debug */
  background-color: white; 
}

.text-partner {
  width: 50%;ù
  /* debug */
  background-color: beige;
}

/* OPERATIONS section */
.title-operations {
  /* debug */
  min-height: 150px;
 background-color: black; 
}

.cl-30 {
  width: 30%;
  margin-top: 10px;
  /* debug */
  min-height: 500px;
  background-color: aqua;
}

/* =======================
   FOOTER
   ======================= */

   footer {
    background-color: black;
   }

   .cl-20 {
    width: 20%;

    /* debug */
    background-color: red;
    border: 2px solid white;
    min-height: 500px;
   }

   .separator {
      border: 2px solid gray;
    margin-top: 50px;
    width: 15%;
   }